In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import feather
import datetime
from matplotlib_venn import venn2
pd.set_option('display.max_Columns', 100)

In [2]:
cartlog = pd.read_csv('../inputs/cartlog.csv')
print('cartlog', cartlog.shape)
 = pd.read_csv('../inputs/meta.csv')
print('meta', meta.shape)
product_master = pd.read_csv('../inputs/product_master.csv')
print('product_master', product_master.shape)
test = pd.read_csv('../inputs/test.csv')
print('test', test.shape)
user_master = pd.read_csv('../inputs/user_master.csv')
print('user_master', user_master.shape)
display_action_id = pd.read_csv('../inputs/display_action_id.csv')
print('display_action_id', display_action_id.shape)
submission = pd.read_csv('../inputs/atmaCup#9__sample_submission.csv')
print('submission', submission.shape)

/Users/umeharayasunobu/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

cartlog (14632775, 18)
meta (795936, 6)
product_master (1965937, 14)
test (56486, 1)
user_master (40350, 3)
display_action_id (43, 4)
submission (56486, 15)

In [10]:
cartlog.head()

,session_id,register_number,date,hour,spend_time,display_action_id,user_id,value_1,name_1,kind_1,number_1,value_2,name_2,kind_2,number_2,unit_price,n_items,is_payment
0,0,2003,2019-02-14,4,0,136,bE94Gct4vGiKM7z2Y79cjk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
1,0,2003,2019-02-14,4,32,209,bE94Gct4vGiKM7z2Y79cjk,4522646719765,おかかおにぎり ５９円,商品,1.0,NaN,NaN,NaN,NaN,59.0,1,0
2,0,2003,2019-02-14,4,37,209,bE94Gct4vGiKM7z2Y79cjk,4522646695663,梅（種なし）おにぎり５９,商品,1.0,NaN,NaN,NaN,NaN,59.0,1,0
3,0,2003,2019-02-14,4,52,209,bE94Gct4vGiKM7z2Y79cjk,4522646716641,紅鮭おにぎり７９円,商品,1.0,NaN,NaN,NaN,NaN,79.0,1,0
4,0,2003,2019-02-14,4,59,209,bE94Gct4vGiKM7z2Y79cjk,4522646695670,明太子おにぎり ７９円,商品,1.0,NaN,NaN,NaN,NaN,79.0,1,0

In [11]:
cartlog.dtypes

session_id             int64
register_number        int64
date                  object
hour                   int64
spend_time             int64
display_action_id      int64
user_id               object
value_1               object
name_1                object
kind_1                object
number_1             float64
value_2              float64
name_2                object
kind_2                object
number_2             float64
unit_price           float64
n_items                int64
is_payment             int64
dtype: object

In [14]:
cartlog['date_str'] =  cartlog['date']
cartlog['date'] =  pd.to_datetime(cartlog['date'])

In [5]:
meta.head(10)

,session_id,user_id,date,hour,register_number,time_elapsed
0,0,bE94Gct4vGiKM7z2Y79cjk,2019-02-14,4,2003,NaN
1,1,V4bEuaKPEPoK8MswqPksvK,2019-02-14,4,2006,NaN
2,2,ntRurFKVWYBQR86auef5Fc,2019-02-14,5,2001,NaN
3,3,GhHaHMCyrz76y2dCeVXfbn,2019-02-14,5,2001,NaN
4,4,kG58HejrEcbjJQ7JojRSay,2019-02-14,5,2002,NaN
5,5,aevjzCB5vr8sjgM3yfq82C,2019-02-14,5,2002,NaN
6,6,MReQdfqWKuwQDxTrnowYSp,2019-02-14,5,2002,NaN
7,7,RfxmdvU7hLR5NMhfZyRkLt,2019-02-14,5,2002,NaN
8,8,TBhNw7zZfAKuQWU2fijQQB,2019-02-14,5,2006,NaN
9,9,iCEwA5BeBoAzfU94tKm5t7,2019-02-14,5,2006,NaN

In [6]:
product_master.head(10)

,JAN,商品名,部門CD,部門名,カテゴリCD,カテゴリ名,サブカテゴリCD,サブカテゴリ名,セグメントCD,セグメント名,サブセグメントCD,サブセグメント名,category_name,category_id
0,1,テナント商品1,98,未登録等,99,未登録等その他,99,未登録等その他,99,その他,99,その他,未登録等__未登録等その他,517
1,2,テナント商品2,98,未登録等,99,未登録等その他,99,未登録等その他,99,その他,99,その他,未登録等__未登録等その他,517
2,3,テナント商品3,98,未登録等,99,未登録等その他,99,未登録等その他,99,その他,99,その他,未登録等__未登録等その他,517
3,4,テナント商品4,98,未登録等,99,未登録等その他,99,未登録等その他,99,その他,99,その他,未登録等__未登録等その他,517
4,5,テナント商品5,98,未登録等,99,未登録等その他,99,未登録等その他,99,その他,99,その他,未登録等__未登録等その他,517
5,6,テナント商品6,98,未登録等,99,未登録等その他,99,未登録等その他,99,その他,99,その他,未登録等__未登録等その他,517
6,7,テナント商品7,98,未登録等,99,未登録等その他,99,未登録等その他,99,その他,99,その他,未登録等__未登録等その他,517
7,8,テナント商品8,98,未登録等,99,未登録等その他,99,未登録等その他,99,その他,99,その他,未登録等__未登録等その他,517
8,9,寿司(惣菜)_部門,49,米飯(麺),5,丼,2,丼・重,99,丼・重その他,98,設定なし,米飯(麺)__丼,620
9,10,テナント商品10,98,未登録等,99,未登録等その他,99,未登録等その他,99,その他,99,その他,未登録等__未登録等その他,517

In [8]:
user_master.head(10)

                  user_id   age  gender
0                     NaN   NaN     NaN
1  222BJXjf8z6YfvHVLvjbhK  40.0     0.0
2  2285uFEmqQNtttDNKPc7Zh  30.0     1.0
3  22CVr2MdbLSkbXycnChGQd  30.0     0.0
4  22KGbCvUqtWPXFsdeCWnrQ  70.0     9.0
5  22Ls5VMp7g4mNGfTn2QQ2c  30.0     0.0
6  22MpASPxvRcLGY2JxVxFys  80.0     0.0
7  22PyLBDmbwt4LQiVrqJhLR  50.0     0.0
8  22TYUSKRFh38QDRJ962YrR  20.0     1.0
9  22U5ViYaLZvsgUdPHcYZzu  50.0     0.0

In [9]:
display_action_id.head(10)

   display_action_id   論理名 display_name  action_name
0                  8  クーポン      クーポンPOP       クーポン発券
1                  9  クーポン      クーポンPOP  クーポン発券(POP)
2                 11  クーポン      クーポンPOP         自動表示
3                 14  クーポン       クーポン一覧       カテゴリ選択
4                 20  クーポン       クーポン一覧       クーポン発券
5                 22  クーポン       クーポン一覧   クーポン発券(詳細)
6                 23  クーポン       クーポン一覧   クーポン発券（詳細）
7                 25  クーポン       クーポン一覧         スキャン
8                 28  クーポン       クーポン詳細       クーポン発券
9                 36    追加   バーコードがない商品         商品追加